.div-wrapper{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  height:250vh;
    padding: 1rem;
      
  
        border-radius: 150px;
        margin-top: 0.25rem;
  grid-auto-rows: 120px;
  grid-template-areas:
    "one two "
    "one two "
    "one two "
    "one two"
    "three four"
    "three four"
    "three four"
    "five six"
    "five six"
    "five six";
     

    
}
.one{
  grid-area: one ;

        border-radius: 140px;
        margin-top: 0.25rem;
}
.two{
  grid-area:two;
  border: 4px solid black; 
  background-image: url("blob:chrome-untrusted://media-app/363aaf5f-c01e-4e8f-89fb-7cc3c2db1bab")
  background-size: cover;
   padding: 2rem;
        border: solid white 2px; /* White border */
        border-radius: 100px;
        margin-top: 0.50rem;
}
.three{
  grid-area:three;
 
}
.four{
  grid-area:four;
  border: 3px solid black; 
   padding: 2rem;
        border: solid white 2px; /* White border */
        border-radius: 100px;
        margin-top: 0.50rem;
}
.five{
  grid-area:five;
 
}
.six{
  grid-area:six;
  border: 3px solid black; 
   padding: 2rem;
        border: solid white 2px; /* White border */
        border-radius: 100px;
        margin-top: 0.50rem;
}
